{:paths   ["src"]
 :deps    {org.clojure/math.combinatorics {:mvn/version "0.1.6"}
           wing/wing                      {:mvn/version "0.1.4"}
           instaparse/instaparse          {:mvn/version "1.4.10"}
           babashka/babashka.curl         {:mvn/version "0.1.2"}
           babashka/babashka.pods         {:mvn/version "0.1.0"}
           babashka/fs                    {:mvn/version "0.2.12"}}
 :aliases {}}
